.subtitle-h2 {
  color: #07145e;
  opacity: 0.5;
}
.quote {
  font-family: "Indie Flower", cursive;
  font-size: 42px;
  text-align: center;
}
@media (max-width: 768px) {
  .quote {
    font-size: 20px;
    font-weight: bolder;
  }
}
