h1 {
  font-size: 64px;
  font-weight: 700;
}
h2,
h4 {
  color: #07145e;
}

button {
  border-radius: 10px;
  background-color: #cf6ea2;
  border-color: #c06384;
}
.katie {
  border-radius: 80%;
  max-width: 100%;
  height: auto;
}
