.hero-grid-container {
  display: flex;
  justify-content: center;
}

.katie-text {
  padding: 70px;
}

.hero-text {
  color: #07145e;
  font-weight: 700;
  font-size: ;
}
.hero-photo {
  justify-content: center;
}

.contact-button {
  background-color: #cf6ea2 !important;
  border-color: #c06384 !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  .hero-photo-container {
    display: none;
  }
  .hero-text {
    font-size: 23px;
  }
}
