.Intro-text h2 h4 {
  font-size: 28px;
  color: #07145e;
}

.Intro-text h1 {
  color: #07145e;
}
.katie {
  border-radius: 80%;
  max-width: 100%;
  height: auto;
}

button {
  border-radius: 10px;
  background-color: #f5ee84;
  border-color: #47430d;
}
