.subtitle-h2 {
  color: #07145e;
  opacity: 0.5;
}

.work-link {
  color: white !important;
  text-decoration: none !important;
}
.youtube-container {
  display: flex;
}

.youtube-video {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .project-details {
    display: none;
  }
  .work-button {
    text-align: center;
    margin: 10px;
  }
  .youtube-video {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .dictionary-app-title {
    margin-top: 20px;
  }
}
